{% extends "base.html" %} <!-- Si tienes una plantilla base -->
{% block body %}
<main class="d-flex justify-content-center align-items-center">
    <div class="form-signin w-100 m-auto" style="max-width: 400px;">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <h1 class="h3 mb-3 fw-normal">Restablecer Contraseña</h1>

            <!-- Mostrar mensajes flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="form-floating">
                <input type="password" class="form-control" name="password" id="password" required>
                <label for="password">Nueva Contraseña</label>
            </div>
            <button class="btn btn-primary w-100 py-2 mt-3" type="submit">Restablecer Contraseña</button>
        </form>
    </div>
</main>
{% endblock %}